.commentTyper {
  display: flex;
  justify-content: space-between;

  border-radius: 10px;
  background-color: rgb(24, 24, 24);
}

.commentInfoContainer {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.commentInfoContainer input {
  box-sizing: border-box;
  border: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  outline: none;
  background-color: rgb(24, 24, 24);
  color: white;
}

.commentTextarea {
  border: 0;
  padding: 10px;
  width: 100%;
  height: 80px;
  outline: none;
  resize: none;
  background-color: rgb(24, 24, 24);
  color: white;
}

.commentButton {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  min-width: 100px;
  height: 100px;
  background-color: rgb(128, 194, 164, 0.8);
  color: white;
  cursor: pointer;
}

.commentRowBorder {
  width: 100%;
  height: 0px;
  border-bottom: 1px solid gray;
}

.commentColBorder {
  width: 0px;
  height: 100px;
  border-right: 1px solid gray;
}

.commentlistContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.commentNoticeText {
  color: gray;
}

.commentElementContainer {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: rgb(32, 32, 32);
}

.commentDeleteButton {
  position: absolute;
  top: 15px;
  right: 25px;
  padding: 5px;
  cursor: pointer;
}

.commentElementModalContainer {
  position: relative;
}

.commentModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.commentModalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.commentModalContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.commentModalContent input {
  outline: none;
}

.commentBtlr {
  border-top-left-radius: 10px;
}

.commentBblr {
  border-bottom-left-radius: 10px;
}

.commentBrr {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.commentModalContent input {
  width: 140px;
  border: 0;
  border-radius: 0;
  padding: 10px;
  background-color: rgb(32, 32, 32);
  color: white;
}

.commentModalContent button {
  border: 0;
  padding: 10px;
  width: 80px;
  background-color: rgb(32, 32, 32);
  color: white;
  cursor: pointer;
}

.paginateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  cursor: pointer;
}

.paginateNext {
}

.paginatePrevious {
}

.paginateBreak {
}

.pagenatePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.pagenatePage:hover {
  background-color: rgb(32, 32, 32);
}

.pagenatePageLink {
}

.paginateActive {
  background-color: rgb(24, 24, 24);
}

.paginateActiveLink {
  color: rgb(128, 194, 164);
}
