.comment-typer {
  display: flex;
  justify-content: space-between;

  border-radius: 10px;
  background-color: rgb(24, 24, 24);
}

.comment-info-container {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.comment-info-container input {
  box-sizing: border-box;
  border: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  outline: none;
  background-color: rgb(24, 24, 24);
  color: white;
}

.comment-textarea {
  border: 0;
  padding: 10px;
  width: 100%;
  height: 80px;
  outline: none;
  resize: none;
  background-color: rgb(24, 24, 24);
  color: white;
}

.comment-button {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  min-width: 100px;
  height: 100px;
  background-color: rgb(128, 194, 164, 0.8);
  color: white;
  cursor: pointer;
}

.comment-row-border {
  width: 100%;
  height: 0px;
  border-bottom: 1px solid gray;
}

.comment-col-border {
  width: 0px;
  height: 100px;
  border-right: 1px solid gray;
}

.commentlist-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.comment-notice-text {
  color: gray;
}

.comment-element-container {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: rgb(32, 32, 32);
}

.comment-delete-button {
  position: absolute;
  top: 15px;
  right: 25px;
  padding: 5px;
  cursor: pointer;
}

.comment-element-modal-container {
  position: relative;
}

.comment-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comment-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.comment-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.comment-modal-content input {
  outline: none;
}

.comment-btlr {
  border-top-left-radius: 10px;
}

.comment-bblr {
  border-bottom-left-radius: 10px;
}

.comment-brr {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
