.home-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container h1 {
  margin: 0;
}

.home-profile-img {
  margin: 0px 40px 0px 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.home-profile-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.home-profile-links li a {
  color: rgb(128, 194, 164);
  text-decoration: none;
}

.home-profile-links li a:hover {
  color: rgb(128, 194, 164, 80%);
}

.home-profile-description {
  line-height: 1.8;
}

.home-postlist-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.home-postlist-container a {
  display: block;
  padding: 20px 10px;
  width: 200px;
  color: white;
  text-decoration: none;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}

.home-postlist-container a:hover {
  background-color: rgb(24, 24, 24);
}

@media (max-width: 768px) {
  .home-profile-img {
    display: none;
  }
}
