.posts-container {
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.post-container {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.post-container:hover {
  background-color: rgb(32, 32, 32);
  cursor: pointer;
}
