.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileContainer h1 {
  margin: 0;
  font-size: 1.6rem;
}

.profileImg {
  margin: 0px 40px 0px 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profileLinks {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.profileLinks li a {
  color: rgb(128, 194, 164);
  text-decoration: none;
}

.profileLinks li a:hover {
  color: rgb(128, 194, 164, 80%);
}

.profileDescription {
  line-height: 1.8;
}

.postlistContainer h1 {
  font-size: 1.6rem;
}

.postElementContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;
}

.postElementContainer a {
  display: block;
  padding: 10px 20px;
  width: 200px;
  color: white;
  text-decoration: none;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}

.postElementContainer a:hover {
  background-color: rgb(24, 24, 24);
}

.postElementContainer h1 {
  font-size: 1.4rem;
  font-weight: 550;
}

.postElementContainer h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .home-profile-img {
    display: none;
  }

  .home-postlist-container a {
    width: 100%;
  }
}
