.postContainer h1 {
  font-weight: 600;
  font-size: 2.4rem;
}

.postContainer h2 {
  font-weight: 500;
  font-size: 1.8rem;
}

.postContainer h3 {
  font-weight: 400;
  font-size: 1.4rem;
}

.postContainer img {
  width: 100%;
}

.postContainer img[alt="badge"] {
  width: 160px;
}

.postContainer img[alt="github-card"] {
  width: 442px;
}

.postContainer code {
  color: rgb(128, 194, 164);
}

.postContainer a {
  color: rgb(128, 194, 164);
  text-decoration: none;
}

.postContainer a:hover {
  color: rgb(128, 194, 164, 80%);
}
