.post-container h1 {
  font-weight: 600;
  font-size: 2.4rem;
}

.post-container h2 {
  font-weight: 500;
  font-size: 1.8rem;
}

.post-container h3 {
  font-weight: 400;
  font-size: 1.4rem;
}

.post-container img {
  width: 100%;
}

.post-container img[alt="badge"] {
  width: 160px;
}

.post-container img[alt="github-card"] {
  width: 442px;
}

.post-container code {
  color: rgb(128, 194, 164);
}

.post-container a {
  color: rgb(128, 194, 164);
  text-decoration: none;
}

.post-container a:hover {
  color: rgb(128, 194, 164, 80%);
}
