.headerContainer {
  width: 100%;
  height: 50px;
  border-bottom: 0.4px solid lightgray;
}

.headerNav {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  height: 100%;
}

.headerTitle {
  font-size: 1.5rem;
}

.sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mr24 {
  margin-right: 24px;
}

.headerText {
  color: white;
  text-decoration: none;
}

.headerText:hover {
  color: rgb(128, 194, 164);
}

@media (max-width: 768px) {
  .headerNav {
    width: 95%;
  }
}
