.content-container {
  display: block;
  width: 90%;
  max-width: 800px;
  min-height: calc(100vh - 50px - 120px);
  margin: 0 auto;
  padding: 60px 0px;
}

@media (max-width: 768px) {
  .content-container {
    width: 95%;
  }
}
